


.sidebar-toggle {
  position: absolute;
  right: -20px;
  height: 24px;
  width: 24px;
  z-index: 1;
}

.formContainer {
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 30px 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
      color: #05696B;
      font-weight: bold;
      font-size: 25px;
    }

    .title{
      color: #05696B;
      font-size: 12px;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 15px;

      input{
        padding: 15px;
        border: none;
        border-bottom: 1px solid #05696B;
        width: 250px;
        &::placeholder{
          color: grey;
          
        }
      }

      button{
        background-color: #05696B;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
      }

      label{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #05696B;
        cursor: pointer;

        img{
          width: 30px;
        }
      }
    }

    p{
      color: #05696B;
      font-size: 12px;
      margin-top: 25px;
    }
  }
}


.home{
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
    border: 1px solid black;
    border-radius: 15px;
    width: 65%;
    height: 85%;
    display: flex;
    overflow: hidden;

    .sidebar{
      position: relative;
      // position:absolute;
      // display: flex;
      background-color: #49949e;
      // overflow: hidden;
      // position: absolute;
      // left: -300px;
      margin-left: -300px;
      height: 100%;
      width: 300px;
      transition: margin-left 0.3s ease-in-out;
      // background-color: rgb(58, 53, 56);
      // z-index: 200;
      border: 1px solid black;
      border-radius: 15px;
      // width: fit-content;
      
      
      

      .navbar{
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        background-color: #265a61;
        // width: 100%;
        color: aqua;

        .logo{
          font-weight: bold;
        }

        .user{
          display: flex;
          gap: 10px;
          align-items: center;

          img{
            background-color: white;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            object-fit: cover;
          }

          button{
            background-color: #49949e;
            color:aqua;
            border: none;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }

      .search{
        border-bottom: 1px solid aqua;

        .searchForm{
          padding: 10px;

          input{
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            &::placeholder{
              color: #EEEADE;
            }
          }
        }
      }

      .userChat{
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
        &:hover{
          background-color: #265a61;
        }


        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo{

          span{
            font-size: 20px;
            font-weight: 500;
          }

          p{
            font-size: 15px;
            color: #EEEADE;
          }
        }
      }

      .chats{
        height: 100%;
        overflow-y: auto;
      }
    }

    .sidebar.open {
      // left: 0;
      margin-left: 0;
      // display: none;
    }

    .chatWindow{
      width: 100%;
      // z-index: 1;
      .chatInfo{
        height: 50px;
        background-color: #49949e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-left: 15px;
        color: #EEEADE;
        margin: 0;

        .userInfo{
          display: flex;
          align-items: center;
          gap: 10px;

          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .chatIcons{
          display: flex;
          gap: 10px;

          img{
            height: 24px;
            cursor: pointer;
          }
        }
      }

      .messages{
        background-color: lightcyan;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message{
          display: flex;
          gap: 20px;
          // align-items: center;
          
          .messageInfo{
            display: flex;
            flex-direction: column;
            color: grey;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 20px;
            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent{
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p{
              background-color: #EEEADE;
              padding: 10px 20px;
              border-radius: 10px 10px 10px 0px;
              max-width: max-content;
            }

            img{
              width: 40%;
              border-radius: 5px;
            }
          }

          &.self{
            flex-direction: row-reverse;

            .messageContent{
              align-items: flex-end;

              p{
                background-color: #49949e;
                color: white;
                border-radius: 10px 10px  0px 10px;
              }
            }
          }
        }
      }

      .input{
       height: 50px;
       background-color: white;
       padding: 10px; 
       display: flex;
       align-items: center;
       justify-content: space-between;

       input{
         width: 100%;
         border: none;
         outline: none;
         font-size: 18px;
       }

       .send{
         display: flex;
         align-items: center;
         gap: 10px;

         img{
           height: 30px;
           cursor: pointer;
         }

         button{
           border: none;
           padding: 10px 15px;
           color: white;
           background-color: #49949e;
           border-radius: 10px;
         }
       }
      }
    }
  }
}



@media (max-width: 500px) { 

  .home{
    
    .container{
      width: 100%;
      height: 100%;
      // overflow: auto;
      // flex-wrap: wrap;

      .sidebar {
        //  width: 250px;
        //  left: -250px;
        //  height: 100%;
        position: absolute;
    }
    }
  }
}


