.App {
  text-align: center;
}

.sidebar {
  position: absolute;
  left: -250px;
  height: 100%;
  width: 250px;
  transition: left 0.3s ease-in-out;
  background-color: rgb(58, 53, 56);
  z-index: 1;
  border: 1px solid black;
}

.sidebar.open {
  left: 0;
}

.sidebar-toggle {
  position: absolute;
  right: -20px;
  height: 24px;
  width: 24px;
  z-index: 1;
}