.App {
  text-align: center;
}

.sidebar {
  position: absolute;
  left: -250px;
  height: 100%;
  width: 250px;
  transition: left 0.3s ease-in-out;
  background-color: rgb(58, 53, 56);
  z-index: 1;
  border: 1px solid black;
  border-radius: 15px;
}

.sidebar.open {
  left: 0;
}

.sidebar-toggle {
  position: absolute;
  right: -20px;
  height: 24px;
  width: 24px;
  z-index: 1;
}

.formContainer {
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 30px 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
      color: #05696B;
      font-weight: bold;
      font-size: 25px;
    }

    .title{
      color: #05696B;
      font-size: 12px;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 15px;

      input{
        padding: 15px;
        border: none;
        border-bottom: 1px solid #05696B;
        width: 250px;
      &::placeholder{
        color: grey;
        
      }
      }

      button{
        background-color: #05696B;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
      }

      label{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #05696B;
        cursor: pointer;

        img{
          width: 30px;
        }
      }
    }

    p{
      color: #05696B;
      font-size: 12px;
      margin-top: 25px;
    }
  }
}


.home{
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
    border: 1px solid black;
    border-radius: 15px;
    width: 65%;
    height: 85%;
    display: flex;
  }
}






